# MACHINE LEARNING MODEL TO CLASSIFY GENUINE USERS FROM ATTACKERS

This code seeks to

In [168]:
#import important packages
import numpy as np
import pandas as pd
import matplotlib as mpl
from datetime import datetime

In [169]:
data =  pd.read_csv("ratings.csv")

In [170]:
data.head(6)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400

In [171]:
data_copy = data.copy()
data_copy['timestamp'] = [datetime.fromtimestamp(x) for x in data_copy['timestamp']]

In [172]:
data_copy

        userId  movieId  rating           timestamp
0            1        1     4.0 2000-07-30 19:45:03
1            1        3     4.0 2000-07-30 19:20:47
2            1        6     4.0 2000-07-30 19:37:04
3            1       47     5.0 2000-07-30 20:03:35
4            1       50     5.0 2000-07-30 19:48:51
...        ...      ...     ...                 ...
100831     610   166534     4.0 2017-05-03 22:53:22
100832     610   168248     5.0 2017-05-03 23:21:31
100833     610   168250     5.0 2017-05-08 20:50:47
100834     610   168252     5.0 2017-05-03 22:19:12
100835     610   170875     3.0 2017-05-03 22:20:15

[100836 rows x 4 columns]

In [173]:
data_copy.describe()

              userId        movieId         rating
count  100836.000000  100836.000000  100836.000000
mean      326.127564   19435.295718       3.501557
std       182.618491   35530.987199       1.042529
min         1.000000       1.000000       0.500000
25%       177.000000    1199.000000       3.000000
50%       325.000000    2991.000000       3.500000
75%       477.000000    8122.000000       4.000000
max       610.000000  193609.000000       5.000000

In [174]:
data_copy["timestamp"].describe()

count                  100836
unique                  85043
top       2016-04-04 17:39:58
freq                      128
first     1996-03-29 19:36:55
last      2018-09-24 15:27:30
Name: timestamp, dtype: object

In [175]:
data_copy.median()

userId      325.0
movieId    2991.0
rating        3.5
dtype: float64

In [176]:
series = data_copy
print("series")
  
# counting the frequency of each element
freq = series.count()
print("Printing the frequency")
display(freq)
  
# printing the most frequent element
print("Printing the most frequent element of series")
display(series.mode());

series
Printing the frequency

userId       100836
movieId      100836
rating       100836
timestamp    100836
dtype: int64

Printing the most frequent element of series

   userId  movieId  rating           timestamp
0     414      356     4.0 2016-04-04 17:39:58

In [ ]:
import matplotlib.pyplot ad plt
import seaborn as sns; sns,set()
import numpy as np
from sklearn.datasets,samples_generator import make_blobs
X,y_true = make_blobs(n_samples=300, centers = 4, cluster_std =  0.60, random_state = 0)
plt.scatter(X[:,0],X[:,1],s=50);

In [179]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 2, random_state = 0)
cluster = kmeans.fit_predict(data_copy)
kmeans.cluster_centers_shape

TypeError: invalid type promotion